$display-none: none;
$display-block: block;
$full-width: 100%;
$base-color: #00a1de;
$primary-font-color: #003145;
$primary-background-color: rgb(255,255,255);
$break-small: 768px;
$max-width: 95%;
$horizontal-medium-gutter: 0 20px;
$max-width-reset: 100%;
$gutter-large: 20px;
$inline-block: inline-block;
$small-font: 0.875em;
$base-line-height: 120%;
$ghost-text: #999;
$plan-module-width: 440px;
$search-box-width: 85%;
$break-mobile: 570px;
$grey-font-color: #CCC;
$underline-headerLink-color: #ccecf8;