<div class="o-plan-and-book-module">
    <div class="c-plan-and-book-module__inner">
        <div class="t--plan-and-book-module--heading">
            <h1>Plan en book</h1>
        </div>
        <div class="c-plan-and-book__selections">
            <label>
                <span>From</span>
                <input type="text" value="Sydney - Kingsford Smith International Airport" />
            </label>
            <label>
                <span>To</span>
                <input type="text" value="Sydney - Kingsford Smith International Airport" />
            </label>
            <label>
                <span>Departure</span>
                <input type="date" class="no-image" value="Sydney - Kingsford Smith International Airport" />
            </label>
            <label>
                <span>Passengers</span>
                <input type="text" class="no-image" value="1 passenger" />
            </label>
        </div>
        <div class="c-search-module">
            <button type="submit" class="t-search--button">View offers</button>
        </div>
    </div>
</div>

<div class="o-optional-menu">
    <div class="c-optional-menu-inner">
        <h2>Afrika</h2>
        <p>Retour vanaf</p>
        <ul>
            <li>plus extra discount on booking</li>
            <li>v.a. Amsterdam, Schipol (AMS)</li>
        </ul>
    </div>
</div>