<header class="is-open">
    <div class="o-container">
        <div class="c-header__wrapper">
            <div class="c-header__firstRow">
                <div class="t-header__logos">
						<a class="t-header--logo" href="#" title="KLM Logo"> 
							<img src="../assets/images/header/klm-logo.png">
						</a> 
						<a class="t-header--text" href="#"> 
							<img src="../assets/images/header/klm-text.png">
						</a> 
						<a class="t-header--teamText" href="#"> 
							<img src="../assets/images/header/klm_skyteam@2x.png">
						</a>
				</div>
				<div class="c-header_firstRowLinks">
						<ul>
							<li><a href="#" title="">Login</a></li>
							<li><a href="#" title="">Register</a></li>
						</ul>
					</div>
            </div>
            <nav>
                <div class="c-header__nav">
                    <div class="t-header--links">
							<ul>
								<li><a href="#" title="Home">Home</a></li>
								<li><a href="#" title="Plan and book">Plan and book</a></li>
								<li><a href="#" title="Prepare for travel">Prepare for
										travel</a></li>
								<li><a href="#" title="Customer support">Customer
										support</a></li>
								<li><a href="#" title="Destinations">Destinations</a></li>
								<li><a href="#" title="Flying blue">Flying blue</a></li>
								<li><a href="#" title="KLM for business">KLM for
										business</a></li>
								<li><a href="#" title="About KLM">About KLM</a></li>
							</ul>
						</div>
						<div class="u-search__bar">
							<input type="text" value="Search" />
						</div>
                </div>
            </nav>
        </div>
    </div>
</header>